# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MRI Viewer assets
public/dataset/
public/litert-wasm/*.wasm
public/wasm/*.wasm
src/assets/
public/*.svg
public/*.png
public/*.jpg
public/*.mov
public/*.mp4
